<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hide in the cafe.</title>
    <ul>
            <li><a href="/">Home</a></li>
    </ul>
</head>
<body>
    <p>The following is a list of the most populous incorporated places of the United States. As defined by the United States Census Bureau, an "incorporated place" includes a variety of designations, including city, town, village, borough, and municipality. Wikipedia.org <a = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population">Click here for the full list.</a></p>
  
</body>
</html>