<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Run for Safety</title>
    <ul>
            <li><a href="/">Home</a></li>
    </ul>
</head>
<body>
    <p>This is a list of American foods and dishes. There are a few foods that predate colonization, and the European colonization of the Americas brought about the introduction of a large number of new ingredients and cooking styles. Wikipedia.org <a href="https://en.wikipedia.org/wiki/List_of_American_foods">Click here for the full list</a></p>

</body>
</html>