<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weclome to USA</title>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/states">States</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/food">Food</a></li>
    </ul>

</head>
<body>
    <h1>Welcome to USA of America</h1>
    <p>The United States of America (USA), commonly known as the United States (U.S.) or America, is a federal republic composed of 50 states, a federal district, five major self-governing territories, and various possessions. wikipedia</p>
    
</body>
</html>