<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sates</title>
    <ul>
            <li><a href="/">Home</a></li>
    </ul>
</head>
<body>
    <p>The table below lists the 50 states, with their current capital, largest city,[A] the date they ratified the U.S. Constitution or were admitted to the Union, population and area data, and number of representative(s) in the U.S. House of Representatives. Widipedia.org. </p>
    <p>To see the full list <a href="https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"> Click here</a></p>

    
</body>
</html>